:root {
  --header-background-color: rgb(93, 112, 219);
  --color-primary: #0073ff;
  --color-white: #e9e9e9;
  --menu-color: #170d6d;
  --color-black-1: #212b38;
  --footer-background-color: rgb(66, 85, 196);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "eka";
  src: url("fonts/NotoSerifGeorgian-VariableFont_wdth\,wght.ttf");
}

.fa-solid,
.fa-regular {
  margin-right: 5px;
}

body {
  width: 100%;
  height: auto;
}

.menu-bar {
  background-color: var(--menu-color);
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1%;
  position: fixed;
  top: 0;
}

#logo {
  background-image: url(images//logo.jpg);
  width: 100px;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border-radius: 15px;
}

#headerUl {
  display: flex;
  list-style: none;
}

#headerUl > li {
  position: relative;
  padding: 10px 30px;
}

#headerUl li a {
  font-size: 20px;
  color: var(--color-white);
  text-decoration: none;
  transition: all 0.3s;
}

#headerUl > li:hover > a {
  color: var(--color-primary);
}

#mainScreen {
  width: 100%;
  height: calc(100vh - 80px);
  margin-top: 80px;
  background-color: blueviolet;
  background-image: url(images//img1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.subList {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: var(--menu-color);
}

#headerUl li:hover .subList {
  display: block;
}

.subList ul {
  list-style: none;
  display: block;
  margin: 10px;
}

.subList ul li {
  margin: 25px;
  cursor: pointer;
}

.subList ul li a {
  color: var(--color-white);
}

.subList ul li:hover a {
  color: var(--color-primary) !important;
}

section {
  width: 100%;
}
section > h1 {
  text-align: center;
  margin-top: 30px;
}

section > p {
  margin: 0 5vw;
  margin-bottom: 50px;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 400px;
  background-color: #170d6d;
}

.map {
  width: 500px;
  height: 300px;
  border-radius: 10px;
}

.footerContacts {
  margin-top: -30px;
  width: 600px;
  height: 80%;
}

.footerContacts a {
  text-decoration: none;
  color: aliceblue;
  transition: all 0.3s;
}

.footerContacts h1 {
  margin: 40px 20px;
  font-size: 20px;
}
.fa-solid,
.fa-facebook {
  font-size: 30px;
  margin-right: 10px;
}

.fa-mobile {
  margin-left: 25px;
}

.footerContacts a:hover {
  color: var(--color-primary);
}
